<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Live </title>
    <link rel="stylesheet" href="./card-template/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,900;1,400&display=swap"
        rel="stylesheet">
</head>

<style>
    body {
        max-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #343A40;
    }


    /* This is the only difference between the LIVE vs GENERATED */
    .card {
        transform: scale(0.45);
        width: 216mm !important;
        height: 345mm !important;
        position: relative !important;
    }

    /* This is the only difference between the LIVE vs GENERATED */

    .controls {
        position: absolute;
        left: 50px;
        bottom: 50px;
        display: flex;
        flex-direction: column;
        background: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding: 20px;
        border-radius: 10px;
        width: 175px;
    }

    .download-btn {
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #1167B2;
        color: white;
        border: none;
        margin-top: 15px;
    }
</style>

<body>

    <!-- Controls -->
    <div class="controls" id="form-image" method="POST" action="/generatePDF">
        <h4>Controls & Settings</h4>
        <label for="customRange1" class="form-label">Size</label>
        <input type="range" class="form-range" id="profile-width" name="profile-width" value="0" min="-100" max="100">

        <label for="customRange1" class="form-label">Left-Right:</label>
        <input type="range" class="form-range" id="profile-left" name="profile-left" value="0" min="-100" max="100">

        <label for="customRange1" class="form-label">Top-Bottom</label>
        <input type="range" class="form-range" id="profile-top" name="profile-top" value="0" min="-100" max="100">

        <button type="button" class="download-btn" id="download-btn">Download Image</button>
    </div>

    <div class="card" id="card">

        <!-- The Values folder will be taken or copied to PDF by another router. -->

        <% if (data.student) { %>
        <div class="values" id="values">

            <!-- Image Wrapper and Photo -->
            <div class="wrapper">
                <style>
                    .wrapper {
                        position: absolute;
                        text-align: center;
                        display: inline-block;
                        top: 291px;
                        left: -6px;
                        width: 100%;
                    }

                    .profile-div {
                        width: 350px;
                        height: 350px;
                        border-radius: 50%;
                        margin-left: auto;
                        margin-right: auto;
                        overflow: hidden;
                    }

                    #profile-photo {
                        position: relative;
                    }
                </style>
                <div class="profile-div">
                    <img id="profile-photo" src="<%= data.student.profile%>" style="width: 385px; top: 0; left: -17px;">
                </div>
            </div>

            <div id="id" class="ids-container ab titer">
                <span>K_ID: <span id="id-value"><%= data.student.kankorId%></span></span><br />
                <span id="dbId">DB: <span id="db_id-value"><%= data.student._id%></span></span>
            </div>

            <span id="name" class="ab titer center"><span id="fatherName-value"><%= data.student.name%></span></span>
            <span id="fatherName" class="ab titer center">د پلارنوم: <span
                    id="fatherName-value"><%= data.student.fatherName%></span></span>
            <span id="titleWithFaculty" class="ab titer center" id="facluty-value"><%= data.student.faculty%></span>
            <span id="branch" class="ab titer center">څانګه: <span
                    id="branch-value"><%= data.student.branch%></span></span>
            <span id="blood" class="ab titer center"><span id="blood-value"><%= data.student.blood%></span>:د وینی ګروپ
            </span>
            <span id="expireDate" class="ab titer center">ختم نیټه:<span id="expire-value"><%= data.student.yearOfKankor%></span></span>

            <div id="e_desc-div" class="center">
                <span id="e_desc" class="titer"><%= data.student.eName%>, student at Kandahar University.</span>
                <br />
            </div>

        </div>

        <%}%>


        <div class="image-div">
            <img id="image" src="./card-template/images/card.jpg">
        </div>
    </div>

</body>
<script src="./js/main/cardLive.js"></script>
<script src="./card-template/js/main.js"></script>

<script>

    // My custom functions:--------------------
    const liveProfileResizer = () => {

        const getCssValue = (element, property) => {
            const dom = document.querySelector(element);

            return window.getComputedStyle(dom).getPropertyValue(property);
        }
        
        const parser = (pxValue) => {return parseInt(pxValue.split('px')[0])};
        // ------------------------------------------
        
        const profileElements = {
            profilePhoto: document.getElementById('profile-photo'),
            width: document.getElementById('profile-width'),
            left: document.getElementById('profile-left'),
            top: document.getElementById('profile-top')
        }

        const prevValues = {
            width: parser(getCssValue('#profile-photo', 'width')),
            top: parser(getCssValue('#profile-photo', 'top')),
            left: parser(getCssValue('#profile-photo', 'left'))
        }

        const inputs = ['profile-width', 'profile-top', 'profile-left'];

        inputs.forEach((input, index, array) => {
            document.getElementById(input).addEventListener('input', (e) => {
                let theElement = profileElements.profilePhoto.style;
                if (input === array[0]) {
                    theElement.width = `${parseInt(e.target.value) + prevValues.width}px`;
                } else if (input === array[1]) {
                    theElement.top = `${parseInt(e.target.value) + prevValues.top}px`;
                } else if (input === array[2]) {
                    theElement.left = `${parseInt(e.target.value) + prevValues.left}px`;
                }
            })
        });
    }; liveProfileResizer();

</script>

</html>